.img-frame { 
	 
	width: 100px; 
	height:10px; 
 
	float: left; 
	display: inline; 
	margin-top: 10px; 
	opacity: .8;
	border:5px solid #ff0;
	
	}
	
	.entrycat { 
	margin-top : 150px;
	margin-bottom : 0px; 	
	padding : 0px;
	
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	}