.img-frame { 
	 
	width: 100px; 
	height:10px; 
 	width:100px;
	
	float: right; 
	display: inline; 
	margin-top: 10px; 
	opacity: .65;
	
	}
	
	.entrycat { 
	
	margin-bottom : 0px; 	
	padding : 0px;
	margin-right: auto;
	margin-left: auto;
	
	display:block;
	
	clear:both;
	}
	
